body {
    font-family: Arial, Helvetica, sans-serif;
}
.bloglike :: {
   padding: 24px;
}
header {
    background-color: rgb(255, 134, 223);
    padding: 2em;
}
.center {
    text-align: center;
}
a {
    text-decoration: none;
    padding: 1em;
    color: blue;
}
.date {
    color: blue;
}
img {
     width: 100%;
}
.read {
    color: blue;
}
#se {
    background-color: #9090e8;
	text-align: center;
	padding: 20px;
	margin-top: 24px;
	font-size: 24px;
}